body {
  background-color: #fdefc8;
}

.scorecard-container {
  z-index: 1;
}

.scorecard {
  border: 2px solid gold;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  display: inline-block;
  background-color: rgb(255, 215, 0, 0.2);
  position: relative;
}
.xbox-container {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.xbox {
  opacity: 0;
  transition: opacity 0.1s ease;
  background-color: #ed8787;
  border: 1px solid white;
  color: white;
  padding: 0.3rem;
  border-radius: 3px;
}
.xbox-container:hover .xbox {
  opacity: 1;
}

.scorecard-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.player-names {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  cursor: default;
}

.score-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.score-grid {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
  gap: 0.2rem;
}

.score-cell {
  border: 1px solid gold;
  border-radius: 5px;
  padding: 0.4rem;
  text-align: center;
  background-color: white;
  cursor: default;
}

.input-container {
  background-color: rgb(208, 239, 223);
  display: flex;
  justify-content: space-around;
}

.input-numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.input-numbers button {
  background-color: #8ad58c;
  border: 1px solid green;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.1s ease;
}
.input-numbers button:hover {
  background-color: #45a049;
}
.input-numbers button:active {
  background-color: #3e8e41;
}
.input-scorecard {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.input-stats{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.input-options {
  margin: 2rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input-names {
  display: flex;
  flex-direction: row;
}
.input-name {
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  font-size: 1.5rem;
  width: 10rem;
  text-align: center;
}
.textarea-comment {
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  font-size: 1.5rem;
  width: 23rem;
}
.input-options-buttons {
  display: flex;
  justify-content: right;
}
.input-options button {
  background-color: #8ad58c;
  border: 1px solid green;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.1s ease;
}
.input-options button:disabled {
  background-color: #ed8787;
  border-color: #a54242;
  /*color: #666666; */
  cursor: not-allowed;
}

.topnav {
  display: flex;
  justify-content: space-between;
  background-color: #fdefc8;
}

.logo img {
  height: 8rem;
}
.title {
  font-family: "Arial Black", sans-serif;
  font-size: 3rem;
  color: green;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.nav-words {
  display: flex;
}
.nav-words button {
  background-color: #8ad58c;
  border: 1px solid green;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  max-height: 3rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  margin: 0.5rem;
}
.nav-words button:hover {
  background-color: #45a049;
}
.nav-words button:active {
  background-color: #3e8e41;
}
.nav-words button.pressed {
  background-color: #3e8e41;
}
.form-housing {
  display: flex;
  justify-content: right;
}
.container-form {
  padding: 1rem 2rem 1rem 2rem;
  margin: 0 1.5rem;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 2;
  position: absolute;
  background-color: #f5ac59;
}
.container-form h2 {
  font-family: "Arial Black", sans-serif;
  font-size: 1.2rem;
  color: green;
}
.left {
  text-decoration: none;
  font-size: 1rem;
  margin: 0.2rem 0.1rem 0.2rem;
}
.right input {
  padding: 0.5rem;
  margin: 0.2rem 0 0.5rem 0;
  border-radius: 5px;
}
.buttonrow {
  display: flex;
  justify-content: right;
}
.buttonrow button {
  background-color: #8ad58c;
  border: 1px solid green;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  max-height: 3rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.buttonrow button:hover {
  background-color: #45a049;
}
.buttonrow button:active {
  background-color: #3e8e41;
}
.buttonrow button:disabled {
  background-color: #ed8787;
  border-color: #a54242;
  /*color: #666666; */
  cursor: not-allowed;
}
